.orders-tab-card {
    display: flex;
    gap: 30px;
}
.orders-container {
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.orders {
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    width: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span {
    color: blue;
}
.pending {
    color: blue;
}