.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.icon {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
